.dashboard-layout{

display:flex;

font-family:'Inter',sans-serif;

}


/* MAIN AREA */

.dashboard-main{

flex:1;

margin-left:220px;

min-height:100vh;

background: linear-gradient(
135deg,
#ececec 0%,
#b8d2e5 30%,
#6fb8d6 60%,
#4ecdc4 100%
);

position:relative;

}


/* TOP MENU */

.top-menu{

display:flex;

gap:25px;

padding:15px 30px;

background:rgba(255,255,255,0.4);

backdrop-filter:blur(20px);

border-bottom:1px solid rgba(255,255,255,0.4);

}

.menu-item{

cursor:pointer;

font-weight:600;

font-size:17px;

transition:0.3s;

}

.menu-item:hover{

color:#0b7285;

}


/* DROPDOWN */

.dropdown{

position:absolute;

top:30px;

background:white;

padding:10px;

width:160px;

border-radius:6px;

box-shadow:0 10px 25px rgba(0,0,0,0.15);

}

.submenu{

position:absolute;

left:150px;

top:0;

background:white;

padding:10px;

width:160px;

border-radius:6px;

box-shadow:0 10px 25px rgba(0,0,0,0.15);

}


/* BOTTOM BAR */

.bottom-bar{

position:absolute;

bottom:120px;

width:100%;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 120px;

background:rgba(255,255,255,0.3);

backdrop-filter:blur(20px);

}

.logo{

width:180px;

}