/* SIDEBAR */

.sidebar{
width:220px;
min-height:100vh;

background: linear-gradient(
135deg,
#5f6bd8 0%,
#6a73d9 25%,
#7b6bd1 60%,
#8e5cc7 100%
);

padding:25px 20px;

position:fixed;
left:0;
top:0;

color:white;

display:flex;
flex-direction:column;

box-shadow:2px 0 15px rgba(0,0,0,0.15);

font-family:'Poppins',sans-serif;
z-index:100;
}


/* LOGO */

.logo-section{
display:flex;
align-items:center;
gap:10px;
margin-bottom:40px;
}

.logo-img{
width:34px;
height:34px;
border-radius:6px;
}

.logo-title{
font-size:22px;
font-weight:600;
}


/* MENU */

.sidebar-menu{
display:flex;
flex-direction:column;
gap:20px;
}

.sidebar-item{

display:flex;
align-items:center;
gap:14px;

font-size:18px;

padding:12px 10px;

border-radius:8px;

cursor:pointer;

transition:0.3s;

}

.sidebar-item:hover{
background:rgba(255,255,255,0.15);
}


/* ICON */

.icon{
font-size:20px;
}


/* ARROW */

.arrow{
margin-left:auto;
font-size:14px;
}


/* SUB MENU */

.sidebar-subitem{

margin-left:40px;

font-size:15px;

cursor:pointer;

display:flex;
align-items:center;

gap:8px;

opacity:0.9;

transition:0.2s;

}

.sidebar-subitem:hover{

opacity:1;
text-decoration:underline;

}




/* ========================= */
/* RESPONSIVE MEDIA QUERY */
/* ========================= */


/* TABLET */

@media (max-width:900px){

.sidebar{
width:180px;
}

.dashboard-main{
margin-left:180px;
}

.logo-title{
font-size:20px;
}

.sidebar-item{
font-size:16px;
}

.icon{
font-size:18px;
}

}


/* MOBILE */

@media (max-width:600px){

.sidebar{
width:70px;
padding:15px 10px;
}

.logo-title{
display:none;
}

.sidebar-item span,
.sidebar-subitem span{
display:none;
}

.dashboard-main{
margin-left:70px;
}

.sidebar-subitem{
margin-left:10px;
}

.icon{
font-size:18px;
}

}