/* SIDEBAR */

.sidebar{
width:240px;
height:100vh;

background: linear-gradient(
135deg,
#5f6bd8 0%,
#6a73d9 25%,
#7b6bd1 60%,
#8e5cc7 100%
);

padding:18px 12px;

position:fixed;
left:0;
top:0;

display:flex;
flex-direction:column;

color:white;

box-shadow:2px 0 15px rgba(0,0,0,0.15);
}


/* LOGO */

.logo-box{
display:flex;
align-items:center;
gap:10px;
margin-bottom:20px; /* gap kurachu */
}

.logo-img{
width:32px;
height:32px;
border-radius:6px;
}

.logo-title{
font-size:20px;
font-weight:600;
}
.dashboard-main{
flex:1;
margin-left:240px;
min-height:100vh;
position:relative;
}

/* MAIN MENU */

.sidebar-item{
display:flex;
align-items:center;

padding:8px 12px;
border-radius:8px;

cursor:pointer;

font-size:18px;
font-weight:500;

transition:0.25s;
}

.sidebar-item:hover{
background:rgba(255,255,255,0.2);
}


/* SUB MENU 1 */

.sidebar-subitem{
display:flex;
align-items:center;

padding:8px 12px 8px 28px;

cursor:pointer;
font-size:17px;

transition:0.2s;
}

.sidebar-subitem:hover{
background:rgba(255,255,255,0.2);
border-radius:6px;
}
/* MAIN CONTENT */

.report-container{
margin-left:240px;
min-height:100vh;
padding:20px;
}

/* SUB MENU 2 */

.sidebar-subitem2{
display:flex;
align-items:center;

padding:8px 12px 8px 45px;

cursor:pointer;
font-size:17px;

transition:0.2s;
}

.sidebar-subitem2:hover{
background:rgba(255,255,255,0.2);
border-radius:6px;
}


/* ICON */

.icon{
font-size:18px;
margin-right:10px;
}


/* ARROW */

.arrow{
margin-left:10px;
font-size:16px;
}
/* MOBILE TOPBAR */

.mobile-topbar{

display:none;

position:fixed;
top:0;
left:0;
right:0;

height:60px;

background:#6f79db;
color:white;

align-items:center;
padding:0 15px;

z-index:1000;

}

.menu-btn{
font-size:24px;
cursor:pointer;
margin-right:15px;
}

.mobile-title{
font-size:18px;
font-weight:600;
}


/* MOBILE VIEW */

@media (max-width:768px){

.mobile-topbar{
display:flex;
}

.sidebar{

transform:translateX(-100%);
transition:0.3s;

z-index:999;

}

.sidebar.active{
transform:translateX(0);
}

}
/* RESPONSIVE */

@media(max-width:768px){

.sidebar{
width:200px;
}

.dashboard-main{
margin-left:70px;
}

}

